{% extends 'spc/base.html' %}


{% block content %}

<div class="card">
  <div class="card-header">
    Support Vector Machine
  </div>
  <div class="card-body">
  
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
      Accuracy
      <span class="badge badge-primary badge-pill">86.22 %</span>
      </li>
      
      <li class="list-group-item d-flex justify-content-between align-items-center">
      Precision
      <span class="badge badge-primary badge-pill">85.95 %</span>
      </li>
      
      <li class="list-group-item d-flex justify-content-between align-items-center">
      Recall
      <span class="badge badge-primary badge-pill">86.22 %</span>
      </li>
      
      <li class="list-group-item d-flex justify-content-between align-items-center">
      F1 Score
      <span class="badge badge-primary badge-pill">86.07 %</span>
      </li>
      
    </ul>
    <br/>

    <form action="{% url 'post_svm' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label>Enter text</label>
        <textarea name="input" rows=5 style="width:100%;" required></textarea>
      </div>
      <input type="submit" class="btn btn-primary" value="Evaluate">
      <a href="{% url 'index' %}" class="btn btn-primary">Main Menu</a>
    </form>
    
  </div>
</div>
{% endblock %}